@import url(/style.css);

body {
    height: 100%;
    width: 100%;
    background: #333333;
    background: linear-gradient(45deg,#333333,#000000,rgb(131, 1, 1));
    background-size: 400% 400%;
    animation: fondo 10s alternate infinite;
}
.saludo p {
    animation: sombras 2s alternate infinite;
}
article {
    width: 100%;
    height: 90vh;
    display: inline-block;
    margin-top: 10px;
}

.article-container {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}

.Owner-img {
    width: 40%;
    height: 100%;
    border-radius: 0px 100px 100px 0px;
    display: flex;
    background: rgba(59, 59, 59, 0.411);
    justify-content: center;
    align-items: center;
    position: relative;
}

.o1,.img-owner1,.img-owner2,.img-owner3{
    height: 80%;
    width: 60%;
    object-fit: cover;
    border-radius: 10%;
    filter: drop-shadow(0px 0px 10px rgba(122, 122, 122, 0.411));
    transition: 2s;
    z-index: 1;
}
.o2{
    position: absolute;
    width: 0%;
    height: 0%;
    z-index: -1;
    filter: blur(1px);
    transition: 1s;

}
.o3{
    position: absolute;
    width: 0%;
    height: 0%;
    z-index: -2;
    filter: blur(2px);
    transition: 1s;
}

.btn-right-left{
    height: 100%;
    width: 88%;
    position: absolute;
    display: flex;
    z-index: 1;
    justify-content: center;
}

.btn_article {
    background-color: rgba(255, 255, 255, 0.452);
    position: absolute;
    font-size: 28px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    cursor: pointer;
    transition: .6s;
}

.btn-owner-right{
    right:-5%;
}
.btn-owner-left {
    left:-1%;
}

.btn-owner-left:hover,.btn-owner-right:hover{
    background-color: white;
    transition: .4s;
    box-shadow: 0 0 5px white;
}
.Owner-Information{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    color: white;
    border-radius: 100px 0px 0px 100px;

}
.Owner-Information p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 86%;
    width: 80%;
    overflow:auto;
    user-select: none;
}


.article-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
}
.img {
    width: 100%;
    min-width: 1px;
}

.rotation{
    animation: rotacion 20s linear infinite;
}

.img3 {
    z-index: -1;
    filter: drop-shadow(14px 10px 8px black) drop-shadow(-1px 1px 2px black) ; /* esto es para colocarle sombras a las imagenes */
}


@keyframes sombras {
    to{
        text-shadow: 0px 0px 10px red;
    }
    from {
    text-shadow: 0px 0px 10px white;
}
}

@keyframes fondo {
    to{
        background-position: 0% 50%;
    }
    from{
        background-position: 100% 50%;
    }

}

@keyframes rotacion {
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg);
    }
    
}

@media screen and (max-width:1500px), screen and (max-height: 800px){
    .Owner-Information p {
        overflow:scroll;
        overflow-x: hidden;
 
    }

    .Owner-Information p::-webkit-scrollbar {
        width: 12px;             /* width of the entire scrollbar */
      }
      
    .Owner-Information p::-webkit-scrollbar-track {
        background: black;
        border-radius: 20px;         /* color of the tracking area */
      }
      
    .Owner-Information p::-webkit-scrollbar-thumb {
        background-color: white;    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
        border: 3px solid black;  /* creates padding around scroll thumb */
      }

}


@media screen and (max-width:950px) {
    .menu-btn{
        color:#ffffffd0;
        z-index: 3;
        transition: .5s;
        position: absolute;
    }
    .menu-btn i {
        color:#ffffffd0;
        transition: .5s;
    }
        
    .menu-btn i:hover {
        cursor:pointer;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 10px rgba(255, 22, 22, 0.863);
        transition: .5s;
    }
    .btn-owner-right{
        right:-1px;
    }
}

@media screen and (max-width:920px){
    body {
        overflow-y: auto;
    }
   
    .article-container{
        height: auto;
        width: auto;
        display: inline-block;
        margin-top: 10px;
        /* background-color: red; */
    }
    .article-img{
        position: absolute;
        width: 100%;
        height: 40vh;
        animation: none;
        top: 5vh;

    }
    .img3{
        top: 14vh;
        width: 70vh;
        transition: 0.5s;
    }
    .rotation{
        animation: none;
        width: 57vh;
        transition: 0.5s;
    }
    .Owner-img {
        width: 100%;
        height: 50vh;
        background-color:rgba(255, 0, 0, 0);
    }
    .btn-owner-right{
        right:10%;
    }
    .btn-owner-left {
        left:16%;
    }

    .Owner-Information{
        width: 100%;
        height: 60vh;
        margin-top: 20%;
    }
    .o1,.img-owner1,.img-owner2,.img-owner3{
        border-radius: 99%;
        height: 28vh;
        width: 28vh;
    }
    .o2{
        width: 0vh;
        height: 0vh;
    }
    .o3{
        width: 0vh;
        height: 0vh;
        transition: 1s;
    }

    
    footer{
        margin-top: 60%;
    }
}

@media screen and (max-width:900px) {
    .btn-owner-right{
        right:10%;
    }
    .btn-owner-left {
        left: 16%;
    }
    .img3{
        top: 15vh;
        width: 74vh;
        transition: 0.5s;
        margin-left: 3vh;
    }

}
@media screen and (max-width:850px) {
    .btn-owner-right{
        right:8%;
    }
    .btn-owner-left {
        left: 12%;
    }

}
@media screen and (max-width:600px) {
    .btn-owner-right{
        right:-4%;
    }
    .btn-owner-left {
        left: -1%;
    }
}
@media screen and (max-width:500px) {
    .btn-owner-right{
        right:-5%;
    }
    .btn-owner-left {
        left: -3%;
    }

}
@media screen and (max-width:400px) {
    .btn-owner-right{
        right:-3%;
    }
    .btn-owner-left {
        left: -3%;
    }

}

@media screen and (max-width:380px) {
    .btn-owner-right{
        right:-4%;
    }
    .btn-owner-left {
        left: -4%;
    }

    .img3{
        top: 26vh;
        width: 50vh;
        transition: 0.5s;
        margin-left: 3vh;
    }
}